@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d87d4a #999;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #999;
}

*::-webkit-scrollbar-thumb {
  background-color: #d87d4a;
  border-radius: 10px;
  border: 2px solid #999;
}

@layer components {
  .nav-links {
    @apply font-bold tracking-widest text-white uppercase hover:text-cusOrangeDark;
  }

  .button {
    @apply px-8 py-4 text-sm font-semibold tracking-widest uppercase shadow-lg;
  }

  .social-links {
    @apply flex items-center justify-center w-6 h-6 cursor-pointer fill-white;
  }

  .section-margin {
    @apply mb-28 md:mb-32 lg:mb-44;
  }

  .section-padding {
    @apply px-9 sm:px-28 md:px-12 lg:px-48 xl:px-80;
  }

  .single-category {
    @apply flex flex-col items-center justify-center gap-6 lg:w-full lg:gap-28 md:gap-10;
  }

  .category-desc {
    @apply flex flex-col items-center justify-center gap-6 md:gap-8 lg:items-start lg:w-full lg:gap-12 xl:gap-8;
  }

  .cart {
    @apply z-20 flex flex-col justify-between w-full gap-8 px-8 py-10 bg-white rounded-md shadow-lg h-3/4 mt-14 mx-9 sm:mx-28 md:mx-12 lg:mx-0 md:w-1/2 lg:w-96 lg:mr-52 lg:px-6 lg:h-128;
  }
}
/* ************** */
/* HERO IMG */
/* ************** */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./assets/home/mobile/image-header.jpg);
}

/* ************** */
/* BG IMGS */
/* ************** */

.featured-bg-image {
  background-image: url(./assets/home/desktop/pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -10rem;
}

.zx7-bg-image {
  background-image: url(./assets/home/mobile/image-speaker-zx7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.yx1-bg-image {
  background-image: url(./assets/home/mobile/image-earphones-yx1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-bg-image {
  background-image: url(./assets/shared/mobile/image-best-gear.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 480px) {
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(./assets/home/tablet/image-header.jpg);
    background-position-y: 85%;
  }
}

@media only screen and (min-width: 560px) {
  .zx7-bg-image {
    background-image: url(./assets/home/tablet/image-speaker-zx7.jpg);
    background-size: cover;
  }
}

@media only screen and (min-width: 760px) {
  .featured-bg-image {
    background-position: 50% -15rem;
  }

  .yx1-bg-image {
    background-image: url(./assets/home/tablet/image-earphones-yx1.jpg);
  }

  .about-bg-image {
    background-image: url(./assets/shared/tablet/image-best-gear.jpg);
  }
}

@media only screen and (min-width: 1020px) {
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(./assets/home/desktop/image-hero.jpg);
    background-position-y: 85%;
  }

  .featured-bg-image {
    background-size: cover;
    background-position: -12rem -3rem;
  }

  .zx7-bg-image {
    background-image: url(./assets/home/desktop/image-speaker-zx7.jpg);
  }

  .yx1-bg-image {
    background-image: url(./assets/home/desktop/image-earphones-yx1.jpg);
  }

  .about-bg-image {
    background-image: url(./assets/shared/desktop/image-best-gear.jpg);
  }
}
